<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= copyright_generator(I18n.locale) %>
      </div>
      <div class="col-md-5 offset-md-2">
        <p class="pull-right"><a href="#"><%= t('back_to_top')%></a></p>
      </div>
    </div>
  </div>
</footer>
