<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= copyright_generator %>
      </div>
      <div class="col-md-5 offset-md-2">
        <p class="pull-right"><%= link_to 'View All Projects', projects_path %> | <a href="#">Back to top</a></p>
      </div>
    </div>
  </div>
</footer>
