<div class="card-deck skills">
  <% @skills.each do |skill| %>
  <div class="card skill">
    <%= fa_stacked_icon "#{skill.badge} inverse", base: "circle",class: "fa-3x" %>
    <br>
    <h4 class="text-left"><%= skill.title %></h4>
    </div>
  <% end %>
</div>
