<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "running.png", width:"300",alt:"Profile picture for Sam"%>
        <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized%>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%;"
              ></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>I have been developing my own Ruby on Rails applications for about 5 years,
        learning as I go. I would love to help you bring your amazing ideas to the web!</p>
        <p>I have been developing my own Ruby on Rails applications for about 5 years,
        learning as I go. I would love to help you bring your amazing ideas to the web!</p>

        <p>
          <button type="button"
                  name="button"
                  class="btn btn-primary"
                  data-toggle="collapse"
                  data-target="#jobs"
                  aria-expanded="false"
                  aria-controller="jobs">Job History
          </button>
          <button type="button"
                  name="button"
                  class="btn btn-primary"
                  data-toggle="collapse"
                  data-target="#education"
                  aria-expanded="false"
                  aria-controller="education">Education
          </button>
        </p>
        <div class="collapse" id="jobs">
          <div class="card card-block">
            <p>I have been developing my own Ruby on Rails applications for about 5 years,
            learning as I go. I would love to help you bring your amazing ideas to the web!</p>
          </div>
          <div class="card card-block">
            <p>I have been developing my own Ruby on Rails applications for about 5 years,
            learning as I go. I would love to help you bring your amazing ideas to the web!</p>
          </div>
          <div class="card card-block">
            <p>I have been developing my own Ruby on Rails applications for about 5 years,
            learning as I go. I would love to help you bring your amazing ideas to the web!</p>
          </div>
        </div>
        <div class="collapse" id="education">
          <div class="card card-block">
            <p>School 1</p>
          </div>
          <div class="card card-block">
            <p>School 2</p>
          </div>
          <div class="card card-block">
            <p>School 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
