<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width:"300",alt:"Profile picture for Sam"%>
        <!-- <%= render 'shared/skills' %> -->
      </div>
      <div class="col-md-8">


        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#skills" role="tab">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#jobs" role="tab">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#education" role="tab">Education</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="profile">
            <br>
            <p>I am a mechanical engineer from Brazil now based in Austin, TX. After 10 years in Aerospace,
            a MBA and a brief stint in Management Consulting, I decided it was time to learn how to code so
            I could bring my ideas to the web.</p>
            <p>I have been developing my own Ruby on Rails applications for about 5 years,
            learning as I go. I would love to help you bring your amazing ideas to the web!</p>
          </div>
          <div class="tab-pane" id="skills">
            <%= render 'shared/skills' %>
          </div>
          <div class="tab-pane " id="jobs">
            <div class="card card-block about">
              <p><span class="h5">Subscriber and Publisher Liaison - Project Manager - Learning List</span>
              - Jan 2014 – Oct 2014 Austin, Texas</p>
            </div>
            <div class="card card-block about">
              <p><span class="h5">Senior Consultant - Monitor Group</span> - Aug 2011 – Jul 2012 - São Paulo, Brazil</p>
            </div>
            <div class="card card-block about">
              <p><span class="h5">Validation Engineer - Boeing 2005 – Jul 2009</span>
              - Seattle, Washington</p>
            </div>
            <div class="card card-block about">
              <p><span class="h5">Systems Engineer - Embraer 2000 – 2005</span>
              - São Jose dos Campos, Brazil</p>
            </div>
          </div>
          <div class="tab-pane" id="education">
            <div class="card card-block about">
              <h5>THE UNIVERSITY OF TEXAS AT AUSTIN, McCombs School of Business</h5>
              <p>Master Business Administration; Marketing 2009 – 2011</p>
            </div>
            <div class="card card-block about">
              <h5>Art Institute of Seattle</h5>
              <p>Associate of Applied Art - Fashion Design 2006 – 2009</p>
            </div>
            <div class="card card-block about">
              <h5>Universidade Federal de Santa Catarina</h5>
              <p>Bachelor of Science - Mechanical Engineering 1995 – 2000</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
