<h1>About Me</h1>

<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "running.png", width:"300",alt:"Profile picture for Sam"%>
  </div>
  <div class="col-md-8">
    <p>I have been developing my own Ruby on Rails applications for about 5 years,
    learning as I go. I would love to help you bring your amazing ideas to the web!</p>
  </div>
</div>
