<div class="app-card-container">
  <div class="card">
    <h1>Ready to get to work?</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><%= number_to_phone "5555555555"%></p>
        <address class="">
          3609 Faker st
          Austin, TX
          78738
        </address>
        <p><a href="mailto:samantha.grimm@gmail.com">Email me</a></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.
        500813188324!2d-97.93219604902445!3d30.30826961292609!2m3!1f0!2f0!3f0!
        3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b37c705355b33%3A0x87e4b6d318b5bebd!
        2s3609+Bayton+Dr%2C+Austin%2C+TX+78738!5e0!3m2!1sen!2sus!4v1486830591294"
        width="450" height="450" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
      </div>
    </div>
  </div>
</div>
