<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is my web development studio. Checkout my projects, my development process, and my blog.</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class:"btn btn-lg btn-primary" %>
  </p>
</div>
