<div class="inner cover">
  <h1 class="cover-heading"><%=t :hello %></h1>
  <p class="lead"><%=t :welcome_message %></p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path(locale: I18n.locale), class:"btn btn-lg btn-primary" %>
  </p>
</div>
