<div class="card" data-id="<%=project.id%>">
  <%=image_tag project.thumb_image , height:'10%'%>
  <p class="card-text">
    <span> <%=link_to project.title, portfolio_show_path(project) %></span> <%=project.subtitle %>
  </p>
</div>
