<%= paginator.render do -%>
<nav class="blog-pagination">
  <div class="btn btn-outline-primary">
    <%= prev_page_tag -%>
  </div>
  <div class="btn btn-outline-primary">
    <%= next_page_tag -%>
  </div>
</nav>
<% end -%>
